@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,300&family=Graduate&display=swap');

:root{
    --primary-color:#43C59E;
    --secondary-color: #14453D;
    --accent1-color: #3D7068;
    --accent2-color: #48BEFF;
    --heading-font: 'Graduate', slab-serif;
    --paragraph-font: 'Aleo', slab-serif;
    --nav-background-color: #43C59E;
    --nav-link-color: #14453D;
    --nav-hover-link-color: #3D7069;
    --nav-hover-background-color: #48BEFF;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: #14453D;
}

header{
    padding: 1rem;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    max-width: 1000px;
}

p{
    padding: 25px
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1rem;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero{
    position: relative;

}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    color: var(--primary-color);
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--nav-hover-link-color);
}

.hero article img{
    position: absolute;
    bottom: 18rem;
    left: 42rem;
    float: right;
    width: 12rem;
    display: block;

}

.hero article p{
    width: auto;
    color: var(--nav-background-color);
    background-color: var(--nav-hover-link-color);
    opacity: 0.9;
    display: block;
    
}

